
/*Color Management*/

.primary-bg-color {
	background-color: #6A040F !important;
}


.secondary-bg-color {
	background-color: #9E111F ! important;
}

.primary-text-color {
	color: #9E111F !important;
}

.secondary-text-color {
	color: #fed136;
}



.text-shadow {
	text-shadow: 0 0 5px black;
}


/* -------------- Header  ------------*/

h1 {

	color: #6A040F;
	/*color: white;*/
	font-weight: bold ;
	/*text-shadow:  1px  1px 1px #FFF5D0,
                  1px -1px 1px #FFF5D0,
                 -1px  1px 1px #FFF5D0,
                 -1px -1px 1px #FFF5D0;
    */margin-bottom: 0px;
}



#mainNav .navbar-toggler {
	background-color: transparent;
	height: 50px;
	width: 50px;
}

/* --- menu --- */


#menu-icon {
	width: 20px;
	height: auto;
	color: #6A040F;
}

#menu-icon:active {
	border-color: transparent;
	border: 0;
}


#mainNav.navbar-shrink {
	background-color: white;
	/*background-color: #6A040F !important;*/
}


#mainNav .navbar-nav .nav-item .nav-link {
	font-weight: bold !important;
}

#mainNav {
	background-color: rgb(255, 255, 255, 0.7);
	transition: 0.5s;
}



/* --- Contact Slider --- */

#slide1 {
	position: fixed;
	top: 350px;
	border-top-left-radius: 30px;
}

#slide2 {
	position: fixed;
	top: 410px;
	border-bottom-left-radius: 30px;
}

.slide {
    position: absolute;
    right: -250px;
    width: 300px;
    height: 60px;
    transition: 0.5s;
    z-index: 9999;
    color: white;
}

/*.slide:focus-within, .slide:focus, .slide:active {
    transition: 0.5s !important;
    right: 0 !important;
}*/

.slider-toggle{
	transition: 0.5s !important;
	right: 0 !important;
}

/*.slide > p > i {
	width: 50px;
}*/

#slider-tel {
	width: 25px;
	height: auto;
	margin-left: 7px;
	/*padding-top: 5px;*/
	/*margin-right: 40px;*/
}

#slider-mail {
	width: 25px;
	height: auto;
	margin-left: 6px;
	/*padding-top: 5px;*/
	/*margin-right: 15px;*/
}
.contact-slider button {
	border: 0;
}
.contact-slider a {
	display: block;
	position: absolute;
	left: 60px;
	top: 5px;
	color: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
}


/* --- Scroll Up Button --- */

#up-button {
	position: fixed;
	right: 35px;
	bottom: 35px;
	background-color: #6A040F !important;
	z-index: 999;
	color:   #6A040F !important;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/*-webkit-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.6); 
	box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.6);*/
	transition: 0.5s
}
#up-icon {
	margin-left:15px;
	margin-top: 7px;
	width: 20px;
	height: 30px;
	
}


#up-button:focus {
	transform: rotate(360deg);
	transition: 0.5s;
}

.hide-button {
	display: none;
}



/*--------down button-------*/

#down-button {
	position: absolute;
	display: inline-block;
	background-color: #6A040F;
	border-radius: 50%;
	/*border-width: -1px;*/
	/*color: #6A040F;*/
	height: 50px;
	width: 50px;
	/*margin-right: 50%;*/
/*margin-left: 50%;*/
	/*margin-top: 100px;*/
	vertical-align: center;
}

#down-button:focus {
	transform: rotate(360deg);
	transition: 0.5s;
}

svg#down-icon {
	/*margin-left:*/
	margin-top: 10px;
	width: 20px;
	height: 30px;
}


/* -- global -- */

h5 {
	font-size: initial;
	padding-top: 10px;
}

:focus {
	outline: none !important;
}

/*a:hover , a:active {
	color: white;
}*/

.modal-body  a, #faq a{
	color: inherit;
}

a.text-primary:hover, a.text-primary:focus {
    color: #212529 !important;
    /*text-shadow: 0 0 2px black;*/
}

.unselectable {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}




/*------ FAQ section----------*/

.btn-link, .btn-link:hover  {
	color: inherit;
}

.btn:focus {
	box-shadow: none;
}

#faq .btn {
	line-height: 1;
	padding-left: 0;
}

button span {
	display: block;
	font-weight: bold;
	overflow: hidden;
	padding-top: 3px;
	padding-bottom:3px;
}

button > svg {
	margin-right: 1.25rem;
	float: left;
	margin-top: 3px;
	margin-bottom: 3px;
	/*vertical-align: middle;*/
}

#faq h4 {
	margin-bottom: 0 !important;
}

.card-body {
	padding-left: 3rem;
	padding-right: 3rem;
}

#faq ul {
	padding-left: 15px;
}

#faq ul > li {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*-------contact section----------*/
#team h4 {
	font-size: 1em;
	font-weight: bold;
}

#team p {
	font-size: 1.5em;
	font-weight: bold;
}
#team a {
	color: inherit;
}

#team svg {
	margin-right: 0.5rem;
}



/* ----------- media queries ------------*/

@media (max-width: 991.98px) {
	#team h4 {
		text-align: center;
	}

	#team p {
		text-align: center;
	}
	.navbar div > ul > li {
	border-bottom:  1px dashed #6A040F;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}
	#team h4 {
		font-size: 1em;
		font-weight: bold;
	}	

	#team p {
		font-size: 1.2em;
		font-weight: bold;
	}
	#team .open-times {
		font-size: 1em;
	}
	/*-------Leistungen section -----*/
#services h4{
	font-size: 22px;
}

}


@media (max-width: 575.98px) { 
	h1 {
		font-size: 1em;
	}
	#mainNav .navbar-brand img {
  		height: 3.5rem;
	}

	/*.slide:hover  {
    	right: -260px;
	}
*/
	.slide {
    	height: 40px;
    	right: -260px;
    }

    #slide1 {
    	top: 280px;
    	border-top-left-radius: 20px;
    }
    #slide2 {
    	top: 320px;
    	border-bottom-left-radius: 20px;
    }
    #slider-tel {
    	/*padding-top: 10px;*/
    	width: 18px;
    	margin-left: 4px;

    }
    #slider-mail {
    	/*padding-top: 10px;*/
    	width: 18px;
    	margin-left: 4px;
    }
    .contact-slider a {
    	padding: 0;
    }

    .timeline-heading h4 {
    	font-size: 1.2rem;
    }

 }


@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 2.3rem;
	}

}


@media (min-width: 1200px) { ... }


